body {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 208, 154);
    color: darkred;
    text-align: center;
}

nav {
    background-color: rgb(230, 64, 14);
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(250, 241, 159);
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}